*{
    font-family: Lato;
    font-size: 18px;

}

.general-content{
    /*margin: 25px;*/
    max-width: 1170px;
    margin: 0 auto;
}

.logo{
    width: 250px;
    margin: 0 auto;
    display: block;
    padding-top: 25px;
}

.form-divider{
    width: 450px;
    height: 10px;
    margin: 0 auto;
    display: block;
}

.longwidth{
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title{
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
    color: #004989;
    text-align: center;
    display: inherit;
}

.title-section{
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background-color: #004989;
    max-width: 500px;
    width: 100%;
    height: 25px;
    margin-top:25px;
    margin-bottom: 20px;
}


.division-bar{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
}

#materials-checklist{
    height: 205px;
}


.checkbox-grid li {
    display: block;
    float: left;
    width: 25%;
    margin-bottom: 10px;
}

#inspection-checklist-section{
    text-align: center;
}

table, th, td {
    border: 1px solid grey;
}

#observation{
    width: 100%;
}

.blueparagraph{
    font-family: Lato;
    font-size: 21px;
    color: #ffffff;
    background-color: #004989;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.smallfont{
    /*font: 18px;*/
    padding-top: 5px;
    padding-bottom: 5px;

}

.btn-link{
    border:none;
    outline:none;
    background:none;
    cursor:pointer;
    color:#0000EE;
    padding:0;
    text-decoration:underline;
    font-family:inherit;
    font-size:inherit;
}

.title-centered{
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    display: inherit;
}

.glossary,
.no-border{
    border: none;
}

.no-border{
    margin-left:auto;
    margin-right:auto;
}

.no-margin {
    margin: 0;
}

.definition{
    /*width: 90%;/*525px;*/
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom:10px;
}

.views-img{
    /*width:90%;*/
    margin: 0 auto;
    display: block;
}

.textarea-comment,
.textarea-coresample{
    width:100%;
    height: 200px;
}

#facility, #date-maintenance,
#inspected, #size-of-roof{
    width:29%;
    margin: 10px;
}
/*
#project-owner,
#project-address{
    width: 60%;
    margin: 10px;
}

#height-at-eave,
#height-at-ridge{
    width: 29%;
    margin: 10px;
}

.content{
    margin:10px;
}


#clearaccessposition{
    width: 100px;
    margin: 10px;
}

#flatmembraneselect,
#slopedselect{
    width:150px;
}

#location{
    width: 60%;
    margin: 10px;
}

#manufacturer{
    width: 30%;
    margin: 10px;
}

#year-installed,
#year-manufactured{
    margin: 10px;
    width: 13%;
}

#inspected-by,
#title {
    margin: 10px;
    width: 29%;
}

#signature {
    margin: 10px 0;
}

#inspectionlist-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

/* INSPECTION FORM */
#reportform input[type=text] {
    width: 100%;
    margin: 10px 0;
    max-width: 735px;
}

.one-line input[type=text] {
    width: auto!important;
}

#reportform select {
    min-width: 150px;
}

/* PROJECT FORM */
.inside-content{
    /**margin: 15px;*/
    padding: 10px;
    border: 1px solid black;
}

.project-info{
    max-width:660px;
    margin: 0 auto;
}

.project-img{
    margin: 20px;
}

.information{
    float: right;
    margin-top: 20%;
}

#workitems{
    margin: 15px;
}

#details-field-notes{
    min-width: 70%;
    height: 150px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-thumbs div[class*=col-] {
    padding: 15px;
}

.image-thumbs div[class*=col-] img {
    width: 100%;
    max-width: 400px;
}

#pictures-button{
    margin-top:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.signature{
    text-align: center;
}

#signature {
    margin: 10px 0;
}

#submitproject-button{
    margin-left: 20px;
}

/* LOGIN */
.login{
    margin-left:auto;
    margin-right:auto;
}

/* PROJECTS */
#projects, .main {
    background: url(img/backgrounds/forms.png) no-repeat center center;
    background-size: cover;
    /*    position:fixed;*/
    /*top:0;
    left:0;
    width: 100%;
    height: 100%;*/
    background-attachment: fixed;
    min-height: 100vh;
    /*min-width: 100vh;*/
    padding-bottom: 30px;
}

.info-content{
    /*width: 900px;*/
    /* top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     position: absolute;*/
    padding: 15px;
    margin:auto;
    border: 1px solid #1a1a1a;
    background-color: #fefefe;
}

.row-color{
    background-color: rgba(26, 80, 142, 0.8);
}

/* NEW PROJECTS */
.simple-form div[class*=col-] {
    padding: 5px 15px;
}

.simple-form input[type=text] {
    width: 100%;
}

.simple-form .select2 {
    width: 100%!important;
}

#button-newproject{
    margin-left: 15px;
}

/* SCROLL */
.floatingHeader {
    position: fixed;
    top: 0;
    visibility: hidden;
}

#page-wrap {
    width: 500px;
    margin: 100px auto;
}
.spacer {
    height: 600px;
}
.scrolltable {
    border-collapse: collapse;
}
.scrollth {
    background-color: lightgrey;
    padding: 10px;
    /*width: 200px;*/
}
.scrolltd, .scrolltr {
    padding: 5px 10px;
    /*width: 200px;*/
}

.center-element{
    text-align: center;
}

/* IMAGENES */

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #ffffff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.loader-container {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    z-index: 9999;
    background-color: rgba(0,0,0,.8);
}

.loader-container.active {
    opacity: 1;
}

.loader-container .loader {
    position: relative;
    top: calc(50% - 25px);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
}

.uploaded-images .col-sm-4 {
    padding: 5px;
}

.img-desc {
    width: 100%;
    margin-top: 10px;
}

/* LOGIN MODAL */
#login-modal .modal-dialog {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f1f1f1;
    transform: translate(0)!important;
    opacity: 1;
}

#login-modal .modal-login-form {
    padding-top: 100px;
}

#login-modal .modal-content {
    border-radius: 0;
    border: 0;
    height: 100%;
    width: 400px;
    margin: 0 auto;
    background-color: transparent!important;
    box-shadow: none!important;
}

#login-modal .modal-header {
    border: 0;
}

#login-modal .modal-body {
    width: 320px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

#login-modal h3 {
    font-size: 30px;
    color: #004989;
    margin-bottom: 15px;
}

#login-modal h3::after {
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    background-color: #004989;
    margin: 10px auto;
}

#login-modal input[type=text],
#login-modal input[type=password] {
    width: 100%;
    padding: 5px 3px;
    border: 1px solid #e3e3e3;
}

#login-modal .login-remember {
    float: left;
}

#login-modal .login-remember input {
    height: 20px;
    width: 20px;
    background: #fbfbfb;
    -webkit-appearance: none;
    border: 1px solid #b4b9be;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    margin: -4px 4px 0 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    min-width: 16px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
    position: relative;
}

#login-modal .login-remember input:focus {
    border: 1px solid #1e8cbe;
}

#login-modal .login-remember input:checked::before {
    content: '';
    position: relative;
    display: block;
    top: 1px;
    left: 6px;
    width: 7px;
    height: 14px;
    border: solid #1e8cbe;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);

}

#login-modal .login-remember label {
    font-size: 13px;
    line-height: 19px;
    color: #72777c;
    font-weight: 100;
}

#login-modal .login-submit {
    float: right;
}

#login-modal .login-submit input[type=submit] {
    padding: 6px 14px;
    line-height: normal;
    font-size: 14px;
    vertical-align: middle;
    height: auto;
    margin-bottom: 4px;background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    box-sizing: border-box;
    border-radius: 3px;
}

#login-modal .login-submit input[type=submit]:active {
    background: #0073aa;
    border-color: #006799;
    -webkit-box-shadow: inset 0 2px 0 #006799;
    box-shadow: inset 0 2px 0 #006799;
    vertical-align: top;
}

#login-modal a {
    font-size: 14px;
}

#login-modal a.logo {
    background: url(http://localhost/projects/cimroofing/wp-content/themes/cimroofing-pris/img/logo.png) no-repeat center center!important;
    height: 120px;
    width: 320px;
}

#login-modal .errors {
    max-width: 320px;
    margin: 20px auto;
}

#login-modal .errors .alert {
    font-size: 14px;
}

.fade-scale {
    opacity: 1;
    /*transform: scale(0);*/
    transform: translate(0)!important;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.fade-scale.in {
    opacity: 1;
    /*transform: scale(1);*/
    transform: translate(0)!important;
}

/* APP NAV */
.app-nav {
    width: 300px;
    height: 100vh;
    padding-top: 50px;
    background-color: #fefefe;
    position: absolute;
    left: -300px;
    -webkit-transition: left 300ms ease;
    -moz-transition: left 300ms ease;
    transition: left 300ms ease;
    z-index: 99999;
}

.app-nav::before,
.app-nav::after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    height: 50px;
}

.app-nav::before {
    width: 100%;
    background-color: #414141;
}

/*.app-nav::after {
    width: 56px;
    right: 0;
    border-left: 2px solid #888;
    pointer-events: none;
}*/

.app-nav .navbar-toggle {
    display: block;
    margin: 10px;
    width: 36px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 300px;
    -webkit-transition: left 300ms ease;
    -moz-transition: left 300ms ease;
    transition: left 300ms ease;
}

.app-nav .navbar-toggle span {
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 2px;
    text-indent: 200%;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    background-color: #888;
}

.app-nav .navbar-toggle::before, .navbar-toggle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background-color: #888;
}

.app-nav .navbar-toggle::before {
    -webkit-transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
    transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
}

.app-nav .navbar-toggle::after {
    -webkit-transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
    transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
}

.app-nav>ul {
    list-style: none;
    padding: 0;
}

.app-nav>ul>li {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    border-bottom: 1px solid #e3e3e3;
}

.app-nav>ul>li:nth-of-type(1) {
    border-top: 1px solid #e3e3e3;
}

.app-nav>ul>li>a {
    text-decoration: none!important;
}

.app-nav>ul>li>a>img {
    width: 22px;
}

/* OPEN EVENTS */
.app-nav.open {
    left: 0;
    box-shadow: 1px 1px 10px 3px rgba(0,0,0,.3);
}

.app-nav.open .navbar-toggle {
    left: 244px;
}

.app-nav.open .navbar-toggle::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.app-nav.open .navbar-toggle::after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

.app-nav.open .navbar-toggle span {
    opacity: 0;
}